$primary-font-color: rgb(0, 0, 0);
$secondary-font-color: rgb(25, 25, 25);

$primary-color: #063954;
$accent-color: #62b3e5;
$warn-color: rgb(204, 51, 0);
$extra-color: #e0ded8;

$extra-color-lighten: #faf8f2;

p {
  font-family: '"Riona Sans", Arial';
}
